<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{user.name}}!</h2>
    <p id="id-user" hidden>{{user.id}}</p>
  </div>
</div>

<div id="displayData" class="col-md-6 project-list">
<h3>Registered Transactions:</h3>
{{#if user.transactions.length}}
    {{#each user.transactions as |transaction|}}
        <li>{{transaction.date}} <br>
            Type:{{transaction.type}} <br>
            Amount: ${{transaction.amount}} <br>
            Category:{{transaction.category}}<br><br>    
    {{/each}}
  </div>
  {{/if}}
</div>

<h4>Expenses</h4>
<div>
  <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/js/charts.js"></script>

<a href="/income">Go to Income chart</a>
