<div class="tablita" id="tablita-1"></div>
<h3 class="titlesForm" id="tableRegistered">Registered Transactions:</h3>
<div id="displayData" class="project-list ">

{{#if user.transactions.length}}
    {{#each user.transactions as |transaction|}}
        <li>
         <p> <strong> Date:</strong> {{transaction.date}} </p>
           <p> <strong> Type:</strong>  {{transaction.type}} </p>
           <p> <strong>Amount: </strong> ${{transaction.amount}} </p>
            <p> <strong> Category: </strong> {{transaction.category}} </p>
            <button id="delete-btn" class="btn btn-danger" data-id="{{transaction.id}}">Delete</button>   
    {{/each}}
  </div>
  {{/if}}
</div>

<h4 class="titlesForm" id="tableRegistered">Expenses</h4>
<div class="chartOrigin">
  <canvas style="" id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="./js/total.js"></script>
